<mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/']">
      <img src="assets/images/logo-sfeir.svg" aria-label="sfeir" alt="Sfeir">
    </a>
  </span>

  <span class="flex"></span>

  <span>
    <a [routerLink]="['/chat']">Chat
      <mat-chip *ngIf="false">0</mat-chip>
    </a>
    <a [routerLink]="['/people']">List</a>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authService.isLoggedIn()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="reset()">
        <mat-icon>autorenew</mat-icon>
        <span>Reset Data</span>
      </button>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>account_circle</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
