:host {
    display: block;
    margin: 4px;
    padding: 4px;
}

section {
    display: flex;
    &.me {
        flex-direction: row-reverse;
        text-align: right;
        p {
            background: #4EB8F5;
            color: white;
            border-radius: 20px 20px 0 20px;
        }
    }
    p {
        background-color: lightgrey;
        margin: 0;
        padding: 10px;
        border-radius: 20px 20px 20px 0;
        img {
            max-width: 100%;
        }
    }
    &>img {
        border-radius: 50%;
        height: 44px;
        width: 44px;
        margin: 12px;
    }
    div {
        .message {
            display: inline-block;
        }
        .date {
            font-size: 0.8em;
            color: gray;
        }
    }
}